
{% load static %}
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<nav class="navbar navbar-expand-md navbar-dark bg-cowboy" style="background-color: #FF7300;" >
    <div class="container">

  <a class="navbar-brand" href="../">Cowboy Academy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    {%if user.is_authenticated %} 
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:view_profile'%}">Profile</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:edit_profile'%}">Edit Profile</a>
        </li>
      <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:change_password'%}">Change Password</a>
          </li>
    </ul>

    <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:logout'%}">Logout</a>
            </li>
    </ul>

    {%else%} 
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:login'%}">Login</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:register'%}">Register</a>
          </li>
      </ul>      

    {% endif  %}         
  </div>
</nav>
</div>

<html>
  <head>
      {% block head %}
      <title>Base</title>
      {% endblock %}
  </head>
  <body>
      {% block body %}
          <h1>Base</h1>
      {% endblock %}
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

