{% extends 'base.html' %}
<h1>User Profile</h1>

{% block head %}
<title>Profile Home</title>
{% endblock %}
   
{% block body%}
<div class="container">
    <h1>Profile</h1>
    <p> Username: {{user}}</p>
    <p> First Name: {{user.first_name}} </p>
    <p> Last Name:{{user.last_name}}</p>
    <p> Email: {{user.email}}</p>
    <p> City: {{user.userprofile.city}}</p>
    <p> State: {{user.userprofile.state}}</p>
    <p> Career Interest: {{user.userprofile.career_interest}}</p>
    <p> Description: {{user.userprofile.description}}</p>
    <p> Website: {{user.userprofile.website}}</p>
    <p> Phone: {{user.userprofile.phone}}</p>

    {% if user.userprofile.image.count > 0 %}
    <img src="{{user.userprofile.image.url}}" width="240">
    {% endif %}
</div>


{% endblock%}
